@font-face {
  font-weight: normal;
  font-family: "Geometria";
  src: url(../fonts/GeometriaRegular.woff) format('woff');
}

@font-face {
  font-weight: bold;
  font-family: "Geometria";
  src: url(../fonts/GeometriaBold.woff) format('woff');
}

body {
  margin: 0;

  font: 3.5vh "Geometria", "sans-serif";
  color: white;
}

#wrapper {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 100%;
  height: 100%;
  
  background: -webkit-linear-gradient(45deg, rgb(255, 161, 161) ,rgb(255, 123, 123));
  background: -moz-linear-gradient(45deg, rgb(255, 161, 161) ,rgb(255, 123, 123));
  background: linear-gradient(45deg, rgb(255, 161, 161) ,rgb(255, 123, 123));
  
  z-index: -2;
}

.calc {
  position: relative;
  box-sizing: border-box;
  
  width: 60vh;
  height: 80vh;
  padding: 5vh;
  
  border-radius: 3vh;
 
  -webkit-box-shadow: 0px 10px 15px 4px rgba(34, 60, 80, 0.47);
  -moz-box-shadow: 0px 10px 15px 4px rgba(34, 60, 80, 0.47);
  box-shadow: 0px 10px 15px 4px rgba(34, 60, 80, 0.47);
  
  background: linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
  background: -webkit-linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
  background: -moz-linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
}

.calc::before {
  position: absolute;
  top: -4vh;
  left: -3vh;
  
  width: 66vh;
  height: 88vh;
  
  border-radius: 3vh;
  
  opacity: 0.2;
  
  content: "";
  
  background: white;
  z-index: -1;
}

.display {
  display: flex;
  justify-content: right;
  align-items: center;

  width: 100%;
  height: 8vh;

  overflow: hidden;

  font-size: 3vh;
  
  background: none;
}

.font-bold {
  font-size: 5vh;
  font-weight: bold;
}

.buttons {
  position: relative;

  width: 100%;
  height: 50vh;
  
  margin-top: 4vh;
  
  display: grid;
  grid-template-rows: repeat(5, 9vh);
  grid-template-columns: repeat(4, 9vh);
  justify-content: center;
  grid-gap: 1.5vh 4vh;
  
  background: none;
}

.buttons::before {
  position: absolute;
  top: -3vh;
 
  width: 100%;
  height: 0.1vh;
  content: '';
  background: white;

  opacity: 0.5;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
  border-radius: 30vh;
}

.button-white {
  color: rgb(58, 119, 209);
  background: white;
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.button-white:hover {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

@media (max-width: 500px) {
  #wrapper {
    background: linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
    background: -webkit-linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
    background: -moz-linear-gradient(315deg, rgb(40, 81, 142), rgb(58, 119, 209));
  }
  
  .calc {
    width: 100%;

    background: none;
    box-shadow: none;
  }
  
  .calc::before {
    display: none;
  }

  .buttons {
    position: relative;
  
    width: 100%;
    height: 100vw;
    
    margin-top: 9vw;
    
    display: grid;
    grid-template-rows: repeat(5, 18vw);
    grid-template-columns: repeat(4, 18vw);
    justify-content: center;
    grid-gap: 2vw 4vw;
    
    background: none;
  }
}